@import '../styles/styles.scss';

header {
	position: fixed;
	top: 0;
}

nav	{
	color: #FCFFF5;
	background: #3E606F;
	// background: #193441;
	position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  height: 100%;
  transition-duration: .3s;
  width: 230px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.page-title {

}