@import '../styles/variables.scss';

.poster-not-found {
	position: relative;
	color: $light;
	text-align: center;

	&-info {
		position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    p {
    	font-size: 2rem;
    }
	}

	.icon-video {
		display: block;
		text-align: center;
		font-size: 5rem;
	}
}