@import './variables.scss';

/**
* Helpers
**/

.max {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.hide {
  display: none;
}

.text-center {
	text-align: center;
}

.overflow-hidden {
	@include preventScroll();
}
