// Global Styles

html, body {
	height: 100%;
	width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  // padding-top: 50px;
  background: #FCFFF5;
}

main {
  padding-left: 230px;
	height: 100%;
}

input[type="text"] {

}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
}