/**
* Colors
**/
$white: #ffffff;
$light: #E8E8E8;
$medBlue: #3E606F;
$overlay: rgba(255, 255, 255, 0.97);

/**
* Break Points
**/

$phone: "only screen and (min-width: 420px)";
$tab: "only screen and (min-width: 768px)";
$desktop: "only screen and (min-width: 992px)";
$lg: "only screen and (min-width: 1200px)";

/**
* Mixins
**/

@mixin preventScroll() {
  overflow: hidden;
  position: fixed;
}

@mixin center() {
	top: 50%;
	left: 0;
  width: 100%;
  transform: translateY(-50%);
}