@import '../styles/variables.scss';

.movie-list-wrapper {
  float: left;
  width: 100%;

  .filter-label {
    cursor: text;
    width: 100%;
    display: block;

    @media #{$tab} {
      width: 50%;
    }

    .icon-search {
      color: #A9A9A9;
      font-size: 2rem;
    }
  }

  .filter {
    height: 40px;
    max-width: 400px;
    font-size: 2rem;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    background: none;
    outline: none;
  }
}

.movie-list-container {

}
