@import '../styles/variables.scss';

header {
  position: relative;
  z-index: 1;
  .page-title {
    color: $white;
    padding: 14px 0;
  }
}

.nav-button,
.search-button {
  position: absolute;
  top: 0;
  border: none;
  background: none;
  font-size: 3.6rem;
  color: $white;
  cursor: pointer;
}

.nav-button {
  left: 5px;
}

.search-button {
  right: 5px;
}

.count {
  background: $white;
  color: $medBlue;
  position: relative;
  top: -2px;
  left: 5px;
  border-radius: 15px;
  font-size: 1.4rem;
  width: 24px;
  height: 16px;
  display: inline-block;
  line-height: 1.6rem;
}
