@import '../styles/variables.scss';

header {
  position: relative;
  z-index: 1;
  .page-title {
    color: $white;
    padding: 14px 0;
  }

  .app-name {
    position: absolute;
    top: 0;
    left: 10px;
    background: $white;
    color: $medBlue;
    font-weight: bold;
    padding: 5px 10px 5px 12px;
    margin-top: 10px;
    letter-spacing: 2px;
    border-radius: 4px;
  }
}

.search-button {
  position: absolute;
  top: 0;
  right: 5px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  font-size: 3.6rem;
  color: $white;
  cursor: pointer;
}

.count {
  background: $white;
  color: $medBlue;
  position: relative;
  top: -2px;
  left: 5px;
  border-radius: 15px;
  font-size: 1.4rem;
  display: inline-block;
  line-height: 1rem;
  padding: 4px 10px;
}
