.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;

  .icon-cancel {
    display: block;
    text-align: right;
    font-size: 4rem;
    cursor: pointer;
  }
}