@import '../styles/variables.scss';

nav	{
  color: $white;
  background: $medBlue;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  left: -230px;
  height: 100%;
  transition-duration: 300ms;
  width: 230px;

  .nav-open & {
    left: 0;
  }
}
